{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Generate workflow tests for your tutorial{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Using a <b>workflow invocation</b>, you can generate the skeleton of the tests
    </p>
    {% if not zip_fp %}
    <form method="post">
        <div class="field">
            <label for="galaxy_url" class="label">Galaxy instance where you invoked the workflow</label>
            <div class="control">
                <div class="select">
                    <select name="galaxy_url">
                        {% for server in servers %}
                        <option>{{ server }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label for="workflow_id" class="label">ID of the invocation</label>
            <div class="control">
                <input name="workflow_id" class="input" type="text" placeholder="" required>
                <p class="help">This can be found on the workflow invocations list (User → Workflow Invocations) when you expand an individual workflow invocation.</p>
            </div>
        </div>

        <div class="field">
            <label for="api_key" class="label">Your personal API key</label>
            <div class="control">
                <input name="api_key" class="input" type="text" placeholder="" required>
                <p class="help">We need your key, as invocations are not public or shareable, only the outputs of an invocation. Thus, the action needs to be executed on your behalf. We will not store your API key.</p>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
        </div>
    </form>
    {% endif %}

    {% if zip_fp %}
    <h1>🤩
        The workflow test has been generated
    </h1>

    <p>You can now add it to the <a href="https://training.galaxyproject.org/">Galaxy Training Material</a>!</p>


    <p>
    <a class="button is-primary" href="{{ zip_fp }}"><i class="fas fa-file-archive"></i>Download the  generated archive with the tutorial skeleton</a>
    </p>

    <p>
    Please add these files to the <code>workflows/</code> directory of your tutorial that you're contributing to the GTN.
    </p>

    <a class="button is-success" href="/">Export a new invocation</a>
    {% endif %}

{% endblock %}
